:host {
    all: initial;
    display: block;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    width: 65vw;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.055), 0 0 125px rgba(0, 0, 0, 0.1), 0 20px 20px -20px rgba(0, 0, 0, 0.075);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
    position: relative;
}

@media (min-width: 769px) {
    :host {
        border-bottom: 5px solid rgba(0, 0, 0, 0.025);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section.todo-app {
    display: flex;
    flex-direction: column;
}

h1 {
    padding: calc(2vmin + 3px) 2vmin 2vmin 2vmin;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    max-height: 70px;
    order: var(--order-position, 1);
    border-bottom: 1px solid var(--border-colour, transparent);
}

h1 a img {
    width: 35vw;
    max-width: 150px;
}

section.todo-manager {
    display: flex;
    flex-direction: column;
}

ul {
    height: 20px;
    line-height: 20px;
    font-size: 10px;
    user-select: none;
    display: inline-block;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: -26px;
    right: 0;
    bottom: 0;
    color: rgba(0, 0, 0, 0.25);
    display: flex;
    list-style-type: none;
}

ul li {
    padding: 0 8px;
}

ul li a {
    cursor: pointer;
    text-decoration: underline;
    transition: color 0.35s;
}

ul li a:not(.active):hover {
    color: black;
}

ul li a.active {
    color: #ff3232;
    cursor: not-allowed;
}

ul li em {
    font-weight: bold;
    font-style: normal;
}

ul li:not(:last-of-type) {
    border-right: 1px solid rgba(0, 0, 0, 0.05);
}

button.retry {
    padding: 10px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid lightgray;
    margin: 10px;
}
