:host {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.05);
    width: 100vw;
    height: 100vh;
}

todo-list {
    max-height: initial;
    height: calc(100vh - 50px - 50px - 20px);
}

ul {
    display: none;
}

h1 {
    order: 1;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0;
    padding: 2vmin 2vmin 2vmin 15px;
}

todo-input {
    order: 2;
}

todo-list {
    order: 3;
}

h1 a {
    display: flex;
}

h1 a img {
    width: auto;
    max-width: 150px;
    height: 20px;
}
