{
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-do-expressions",
        ["transform-react-jsx", {
            "pragma": "h"
        }]
    ]
  }