{
    "env": {
        "build": {
            "plugins": [
                "transform-class-properties",
                "transform-object-rest-spread",
                "transform-do-expressions",
                ["transform-react-jsx", {
                    "pragma": "h"
                }]
            ]
        },
        "server": {
            "plugins": [
                "transform-es2015-modules-commonjs",
                "transform-class-properties",
                "transform-object-rest-spread",
                "transform-do-expressions",
                ["transform-react-jsx", {
                    "pragma": "h"
                }]
            ]
        }
    }
}