{
    "plugins": [
        "transform-class-properties",
        "transform-flow-strip-types",
        "transform-es2015-modules-commonjs",
        "transform-es2015-spread",
        "transform-es2015-destructuring",
        "transform-object-rest-spread",
        "transform-es2015-arrow-functions",
        "transform-es2015-parameters",
        "transform-es2015-template-literals",
        "transform-async-to-generator",
        "transform-do-expressions",
        ["transform-react-jsx", {
            "pragma": "h"
        }]
    ]
  }