{
    "parser": "babel-eslint",
    "extends": ["standard", "prettier", "prettier/react", "prettier/standard"],
    "plugins": ["react"],
    "rules": {
        "no-sequences": "off"
    },
    "globals": {
        "CSSImportRule": true,
        "customElements": true,
        "CustomEvent": true,
        "fetch": true,
        "HTMLElement": true,
        "Image": true,
        "IntersectionObserver": true,
        "MutationObserver": true,
        "requestIdleCallback": true,
        "ResizeObserver": true,
        "ShadowRoot": true
    }
}
