# os
.DS_Store

# ide
.idea

# npm
node_modules
npm-debug.log
yarn.lock

# examples
example/js/components/iss-position/js/build.js
example/js/components/todo-manager/js/build.js

# tests
tests/stats/build
