.history/
.nyc_output/
example/
tests/
media/

.eslintrc          
.prettierrc.json                                       
ava.config.js                                          
terser.config.mjs                                      
