:host {
    all: initial;
    display: inline-block;
    background: transparent url('../images/earth.jpg');
    background-size: cover;
    width: 85vmin;
    height: 85vmin;
    color: white;
    border-radius: 3px;
    text-align: center;
}

iss-astronauts {
    opacity: 0;
    transform: scale(.85);
    transition: opacity .75s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    transform .75s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

iss-astronauts.resolved {
    opacity: 1;
    transform: scale(1);
}

* {
    padding: 0;
    margin: 0;
}

section {
    display: flex;
    padding-top: 12.5vmin;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

section span {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

img.flag {
    width: 20%;
}

label {
    font: normal 100 2vmin/3vmin Lato, Arial, Tahoma, Helvetica, sans-serif;
}

h1 {
    font: normal 800 3vmin/4vmin Lato, Arial, Tahoma, Helvetica, sans-serif;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .5);
}

button {
    font: normal 800 2.5vmin/2.5vmin Lato, Arial, Tahoma, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10%;
    margin: 2vmin;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .15);
    color: white;
    padding: 0 3vmin;
    border: 1px solid rgba(255, 255, 255, .5);
    outline: none;
    cursor: pointer;
    backdrop-filter: blur(5px);
    transition: opacity .25s;
}

button.loading {
    opacity: .25;
    pointer-events: none;
}

button div.update {
    text-transform: uppercase;
}

button iss-updated {
    font-weight: 100;
    font-size: 1.2vmin;
    line-height: 1.2vmin;
}

div.coordinates {
    position: absolute;
    bottom: 0;
    right: 0;
    font: normal 100 1.2vmin/1.2vmin Lato, Arial, Tahoma, Helvetica, sans-serif;
    padding: 1vmax;
}
