{
    "parser": "babel-eslint",
    "extends": ["standard", "prettier", "prettier/react", "prettier/standard"],
    "plugins": ["react"],
    "rules": {
        "no-sequences": "off",
        "import/no-absolute-path": "off",
        "no-async-promise-executor": "off"
    },
    "globals": {
        "caches": true,
        "CSSImportRule": true,
        "customElements": true,
        "CustomEvent": true,
        "fetch": true,
        "fixture": true,
        "HTMLElement": true,
        "HTMLFormElement": true,
        "Image": true,
        "IntersectionObserver": true,
        "MutationObserver": true,
        "performance": true,
        "PopStateEvent": true,
        "requestIdleCallback": true,
        "ResizeObserver": true,
        "Response": true,
        "self": true,
        "ShadowRoot": true,
        "test": true
    }
}
