{
  "plugins": [
    "transform-es2015-spread",
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
    "transform-es2015-arrow-functions",
    "transform-es2015-template-literals",
    "transform-async-to-generator",
    ["transform-react-jsx", {
      "pragma": "h"
    }]
  ]
}
