:host {
    all: initial;
    display: block;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
}

dialog {
    border: 0;
    padding: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.055), 0 0 125px rgba(0, 0, 0, 0.1),
        0 20px 20px -20px rgba(0, 0, 0, 0.075);
    width: 60vw;
    height: 30vh;
    border-radius: 3px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.025);
}

dialog::backdrop {
    backdrop-filter: blur(1px);
}

header {
    display: flex;
    flex: 1 0 40px;
    padding-left: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header div.country {
    font-size: 14px;
    display: flex;
    align-items: center;
}

header a.close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    transition: 0.25s color;
    margin-left: auto;
}

header a.close:hover {
    color: black;
}

header div.scores {
    color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 11px;
    font-weight: bold;
}

header div.scores span.correct {
    color: green;
}

header div.scores span.incorrect {
    color: red;
}

section.body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

section.body div.flags {
    display: flex;
    width: 100%;
    height: 100%;
}

* {
    box-sizing: border-box;
}

section.body div.flags ul {
    display: grid;
    grid-gap: 10px;
    flex: 1;
    padding: 10px;
    list-style-type: none;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: 100%;
}

section.body div.flags ul li {
    transition: filter 0.5s;
}

section.body div.flags ul li img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.15s;
}

section.body div.flags ul li img:hover {
    transform: scale(1.1);
}

div.congrats {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 12px;
}

div.congrats a {
    color: #ff3232;
    text-decoration: underline;
    cursor: pointer;
}
