section.forecast {
  display: inline-grid;
  grid-auto-flow: row;
  justify-items: center;
  text-align: center;
}

@container (max-width: 480px) {
  section.forecast {
    padding: 40px 0;
  }
}

section.forecast img {
  max-height: 150px;
  max-width: 150px;
}

section.forecast p.description {
  font-size: clamp(12px, 1vw, 16px);
  font-style: italic;
}

section.forecast p.description span {
  text-transform: capitalize;
}

section.forecast div.reading {
  font-size: clamp(10px, 5vw, 55px);
  font-weight: bold;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}
