:host {
    all: initial;
    font-size: 12px;
    padding: 0 10px;
    border-radius: 2px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.25));
}

main {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    width: 15px;
    margin-right: 10px;
}

p {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}
