:host {
    all: initial;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    height: 100%;
    width: 100%;
    position: relative;
}

section.horizontal {
    overflow-x: var(--overflow);
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

section.vertical {
    overflow-x: hidden;
    overflow-y: var(--overflow);
    scroll-snap-type: y mandatory;
}

section div.track {
    display: flex;
    transition: transform var(--animation-duration, 0.35s)
        var(--swiss-carousel-transition-timing-function, ease);
}

section.horizontal div.track {
    flex-direction: row;
    height: 100%;
    width: calc(var(--width) * var(--count) * 1px);
    transform: translate(var(--left), 0);
}

section.vertical div.track {
    flex-direction: column;
    height: calc(var(--height) * var(--count) * 1px);
    width: 100%;
    transform: translate(0, var(--top));
}

section div.track img {
    scroll-snap-align: start;
    width: calc(var(--width) * 1px);
    height: calc(var(--height) * 1px);
    object-fit: var(--image-fit, cover);
    object-position: var(--image-position, center);
}

div.controls {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
}

section.horizontal div.controls {
    flex-direction: row;
}

section.vertical div.controls {
    flex-direction: column;
}

div.controls a {
    flex: 1;
    cursor: pointer;
}

div.controls a.disabled {
    cursor: not-allowed;
}
