:host {
    display: block;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #B8B8BF;
    font-size: 10px;
    padding: 5px 0;
    display: block;
    text-transform: uppercase;
}

todo-add {
    height: 50px;
    overflow: hidden;
}

todo-list {
    height: calc(100% - 50px - 40px);
    overflow-x: hidden;
    overflow-y: auto;
}

section.todo-manager {
    display: flex;
    width: 45vw;
    max-height: 65vh;
    background-color: white;
}

footer {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    height: 40px;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
    align-items: center;
}

footer a {
    color: rgba(0, 0, 0, .15);
    font-size: 12px;
    transition: all .25s;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -.5px;
}

footer a:hover {
    color: #F44336;
    opacity: 1;
}

div.container {
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .075), 0 0 125px rgba(0, 0, 0, .125);
    border: 1px solid rgba(0, 0, 0, .1);
}

@media (max-width: 768px) {

    section.todo-manager {
        height: 100vh;
        max-height: 100vh;
        width: 100vw;
    }
}
