:host {
    display: block;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
}

todo-manager {
    display: block;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: #B8B8BF;
    font-size: 10px;
    padding: 5px 0;
    display: block;
    text-transform: uppercase;
}

div.container {
    width: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, .075), 0 0 125px rgba(0, 0, 0, .025);
    border: 1px solid rgba(0, 0, 0, .1);
}

todo-add {
    height: 50px;
    overflow: hidden;
}

todo-list {
    max-height: calc(65vh - 50px);
    overflow-x: hidden;
    overflow-y: auto;
}

section.todo-manager {
    display: flex;
    width: 45vw;
    background-color: white;
}

@media (max-width: 768px) {

    section.todo-manager {
        height: 100vh;
        max-height: 100vh;
        width: 100vw;
    }

    todo-list {
        max-height: 1000vh;
        height: calc(100vh - 117px);
    }
}
