:host {
    all: initial;
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    align-items: center;
}

footer a {
    color: red;
    font-size: 12px;
    transition: all .25s;
    opacity: .5;
}

footer a:hover {
    color: black;
    opacity: 1;
}

form select {
    border: 0;
    background-color: transparent;
    margin-right: 10px;
    outline: none;
}

form {
    display: flex;
}

form img {
    height: 40px;
    width: 40px;
    padding: 2px 1px 1px 2px;
    border-left: 1px solid rgba(0, 0, 0, .1);
}
