body {
    overflow: hidden;
}

body, html {
    background-color: rgba(0, 0, 0, .015);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

section.container {
    display: flex;
    flex-direction: column;
    min-width: 45vw;
}

todo-manager {
    opacity: 0;
    transition: all .5s;
}

todo-manager.loaded {
    opacity: 1;
}

h1 {
    margin: 0 0 10px 0;
}

img {
    width: 15vmax;
    filter: grayscale(100%);
    opacity: .25;
}

img:hover {
    filter: grayscale(0%);
}

@media (max-width: 768px) {

    img {
        width: 25vmax;
    }

    h1 {
        padding: 0 0 5px 5vw;
    }

    section.container {
        justify-content: flex-start;
        height: 100vh;
        padding-top: 5vh;
        min-width: 100vw;
    }
}

