body {
    overflow: hidden;
}

body, html {
    background-color: rgba(0, 0, 0, .015);
    /*background: linear-gradient(180deg, #ECEFF1, #CFD8DC);*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

todo-manager {
    opacity: 0;
}

todo-manager.loaded {
    opacity: 1;
}
