html,
body {
    background-color: rgba(0, 0, 0, 0.015);
}

body {
    scroll-snap-type: y mandatory;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

article {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    scroll-snap-align: start;
    display: flex;
    align-items: center;
    justify-content: center;
}

article > *:first-child {
    opacity: 0;
    visibility: hidden;
    transition: transform 0.55s, opacity 0.55s;
    transform: scale(0.75);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

article > *:first-child.resolved {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

todo-app::part(header) {
    transition: filter 1s;
}

todo-app::part(header):hover {
    filter: grayscale(100%);
}

swiss-carousel {
    width: 80vw;
    height: 80vh;
}
