:host {
    all: initial;
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Lato, Arial, Tahoma, Helvetica, sans-serif;
    max-height: calc(65vh - 50px);
    overflow-x: hidden;
    overflow-y: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

ul li {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: space-between;
}

ul li.error {
    padding: 10px 20px;
    color: crimson;
    font-size: 12px;
    font-style: italic;
}

ul li:nth-of-type(even) {
    background-color: rgba(0, 0, 0, .015);
}

ul li p {
    padding: 15px 20px;
    font-size: 12px;
    width: calc(100% - 120px);
    word-break: break-all;
    overflow: hidden;
}

ul li button.delete {
    background: linear-gradient(180deg, rgba(0, 0, 0, .075), rgba(0, 0, 0, .125));
    margin: 10px;
    width: 100px;
    align-self: flex-start;
    padding: 6px 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    border-left: 1px solid rgba(0, 0, 0, .025);
    border-right: 1px solid rgba(0, 0, 0, .025);
    cursor: pointer;
    outline: none;
    border-radius: 0;
    transition: color .25s;
}

ul li button.delete:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, .1), rgba(0, 0, 0, .15));
}

ul li button.delete:active {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .05);
}

@media (max-width: 768px) {

    ul li button.delete {
        width: 65px;
    }

    ul li {
        border-bottom: 1px solid rgba(0, 0, 0, .1);
    }
}

ul li:not(:last-of-type) {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

ul li.none {
    cursor: default;
    color: rgba(0, 0, 0, .3);
    font-style: italic;
}

ul li.none p {
    width: 100%;
}

ul li.done p {
    text-decoration: line-through;
    color: green;
}
