:host,
welcome-card {
    all: initial;
    border: 2px solid var(--welcome-card-theme, transparent);
    display: inline-block;
    padding: 15px;
    position: relative;
    box-shadow: 0 0 5px rgba(0, 0, 0, .15);
    min-width: 300px;
    user-select: none;
}

:host::after,
welcome-card::after {
    content: "";
    position: absolute;
    pointer-events: none;
    width: 0;
    height: 0;
    border-bottom: 20px solid var(--welcome-card-theme, transparent);
    border-left: 20px solid transparent;
    bottom: 0;
    right: 0;
}

img {
    border-radius: var(--welcome-card-border-radius, 5px);
    width: 100px;
}

h1 {
    margin: 0;
    height: 40px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-family: Arial, Tahoma, Arial, Helvetica, sans-serif;
}

a {
    color: var(--welcome-card-theme, cornflowerblue);
    border-bottom: 1px dotted rgba(0, 0, 0, .5);
    cursor: pointer;
    font-size: 14px;
}

a:hover {
    color: black;
}
