:host {
    all: initial;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: rgba(0, 0, 0, 0.15);
    cursor: pointer;
    user-select: none;
    padding: 0 10px;
    border-radius: 2px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s;
}

main:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

div {
    display: flex;
    flex-direction: column;
}

strong {
    margin-left: 3px;
}

img {
    width: 25px;
    margin-right: 10px;
}
